<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid">
    <div class="navbar-header nav navbar-nav">
      <a class="navbar-brand" routerLink="/menu">Trattoria</a>
      <a class="nav-item nav-link" routerLink="/menu">Home</a>
      <a class="nav-item nav-link"  routerLink="/update">Update</a>
      <a class="nav-item nav-link"   routerLink="/menu">About</a>
      <a class="nav-item nav-link"  routerLink="/menu">Contact</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class = "active"><a class="nav-item nav-link" routerLink="/menu">Home</a></li>
      <li><a class="nav-item nav-link"   routerLink="/menu">About</a></li>
      <li><a class="nav-item nav-link"  routerLink="/menu">Contact</a></li>
    </ul> -->
    <div class="nav navbar-nav navbar-right">
      <a class="nav-item nav-link"  routerLink="/menu">Log in</a>
    </div>
  </div>
</nav>

<header class = "background">
    <h2 class = "welcome">Trattoria la Campana</h2>
    <p class = "welcomeMessage">...perfect place to grab a quick bite and wash it down with some local wine...</p>
</header>